* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #gridwrapper_card {
      margin: 15px;
      padding: 10px;
      box-sizing: border-box;
      display: grid;
      height: 100vh;
      
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      column-gap: 30px;
      row-gap: 30px;
      grid-template-areas: 
      "tex tex tex tex"
      "s01 s02 s03 s04"
      "s05 s06 s07 s08"
      "s09 s10 s11 s12"
      ;
  }
  
  header { 
      background: fuchsia;
      display: flex;
      align-items: center;
      height: 100px;
  }
  
  main {
      background: white;
      color: black;
  }
  
  ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      width: 1230px;
      align-items: center;
  }
  
  a {
      text-decoration: none;
      color: black;
      font-size: 30px;
  }
  a:hover {
      color: rgb(95, 38, 151);
  }

  #text {
    grid-area: tex;
    background-color: brown;
  }

  #section1 {
    grid-area: s01;
    background-color: grey;

}

  #section2 {
      grid-area: s02;
      background-color: grey;
  }

  #section3 {
    grid-area: s03;
    background-color: blue;
}

#section4 {
    grid-area: s04;
    background-color: violet;
}

#section5 {
    grid-area: s05;
    background-color: grey;
}

#section6 {
    grid-area: s06;
    background-color: grey;
}

#section7 {
    grid-area: s07;
    background-color: grey;
}

#section8 {
    grid-area: s08;
    background-color: grey;
}
#section9 {
    grid-area: s09;
    background-color: grey;
}
#section10 {
    grid-area: s10;
    background-color: grey;
}
#section11 {
    grid-area: s11;
    background-color: grey;
}

#section12 {
    grid-area: s12;
    background-color: grey;
}

footer {
    grid-area: foo;
    background-color: pink;
}

